<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>nona box</title>

    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
  <div class="scroll">
    <nav class="nav">
      <div class="nav-wrapper">
        <div class="nav-brand">
          <h1><a href="/"><img src="images/brand/logo-branco.svg" alt="nonabox - logo" class="nav-brand-image"></a></h1>  
        </div>
      </div>
    </nav>

    <div class="nonabox-home">
      <header class="nonabox-home-header">
        <div class="wrapper">
          <div class="nonabox-home-header-content">
            <h2 class="nonabox-home-header-title">
                Olá, <%= usuario.email %>
            </h2>
            <p class="nonabox-home-header-text">
              Obrigada por se cadastrar! O projeto ainda <br>
              está em desenvolvimento. Assim que tivermos novidades<br>
              te avisamos!              
            </p>
          </div>
        </div>
      </header>
    </div>  

    <footer class="footer">
      <div class="wrapper">
        <p class="footer-text"><span class="text-bold">nona box</span> - Todos os direitos reservados</p>
      </div>
    </footer>
  </div>

  <script src="scripts/menu.js"></script>
</body>
</html>	