.nonabox-home {
    position: relative;
}

.nonabox-home:after {
    background: url("../images/home/header.png") center -60px no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}


/*
 *  Header.
 */
.nonabox-home-header {
    height: 100vh;
    position: relative;
}

.nonabox-home-header-content{
    padding-top: 18%;
    max-width: 750px;
    width: 50%;
}

.nonabox-home-header-title {
    color: #ffffff;
    font-family: 'Proxima Nova Bold', 'Calibri', Arial, sans-serif;
    font-size: 55px;
    letter-spacing: 1px;
    line-height: 60px;
    margin-bottom: 30px;
}

.nonabox-home-header-text {
    color: #ffffff;
    font-family: 'Proxima Nova Light', 'Calibri', Arial, sans-serif;
    font-size: 38px;
    letter-spacing: 0.8px;
    line-height: 50px;
}

@media screen and (max-width: 1330px) {
    .nonabox-home-header-title {
        font-size: 45px;
        line-height: 50px;
        margin-bottom: 20px;
    }

    .nonabox-home-header-text {
        font-size: 28px;
        line-height: 35px;
    }

}


/*
 *  Intro.
 */

.nonabox-home-intro{
    margin-top: 290px;
    position: relative;
}

.nonabox-home-intro:after,
.nonabox-home-intro:before {
    content: '';
    display: block;
    position: absolute;
}

/*.nonabox-home-intro:after{*/
    /*!*background: url(../images/home/intro-circulos.png) center no-repeat;*!*/
    /*!*background-size: contain;*!*/
    /*!*height: 220px;*!*/
    /*!*left: 480px;*!*/
    /*!*top: 10px;*!*/
    /*!*width: 220px;*!*/
/*}*/

.nonabox-home-intro:before {
    background: url(../images/home/intro-prototipo.png) center no-repeat;
    background-size: contain;
    height: 520px;
    left: 50px;
    top: -230px;
    width: 630px;
    z-index: 10;
}

.nonabox-home-intro-row{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nonabox-home-intro-column {
    max-width: 520px;
    text-align: right;
    width: 50%;
}

.nonabox-home-intro-title{
    color: var(--green);
    font-family: 'Proxima Nova Bold', 'Calibri', Arial, sans-serif;
    font-size: 38px;
    letter-spacing: 1px;
    line-height: 45px;
    margin-bottom: 25px;
    text-align: right;
}

.nonabox-home-intro-text{
    color: var(--gray);
    font-family: 'Proxima Nova Light', 'Calibri', Arial, sans-serif;
    font-size: 22px;
    letter-spacing: 0.5px;
    line-height: 28px;
    text-align: right;
}

.nonabox-home-intro-button-content {
    display: flex;
    justify-content: flex-end;
}

.nonabox-home-intro-button{
    background-color: var(--green);
    border-radius: 7px;
    color: #ffffff;
    display: block;
    font-family: 'Proxima Nova Regular', 'Calibri', Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 0.2px;
    margin-top: 30px;
    padding: 12px 25px;
    text-align: right;
    text-decoration: none;
    width: fit-content;
}


/*
 *  Produtos.
 */
.nonabox-home-produtos{
    margin-top: 120px;
}

.nonabox-home-produtos-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nonabox-home-produtos-column{
    width: 31%;
}

.nonabox-home-produtos-box{
    background-color: #ffffff;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.56);
    box-sizing: border-box;
    padding: 50px 40px;
    width: 100%;
}

.nonabox-home-produtos-img{
    display: block;
    margin-bottom: 50px;
    height: 120px;
}

.nonabox-home-produtos-title{
    color: var(--green);
    font-family: 'Proxima Nova Bold', 'Calibri', Arial, sans-serif;
    font-size: 24px;
    letter-spacing: 0.5px;
    line-height: 30px;
    margin-bottom: 20px;
}

.nonabox-home-produtos-text {
    color: var(--gray);
    font-family: 'Proxima Nova Light', 'Calibri', Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 24px;
}

.nonabox-home-aplicativo{
    margin: 200px 0 0;
}

.nonabox-home-aplicativo-img{
    width: 100%;
}


/*
 *  Contato.
 */

.nonabox-home-contato{
    margin-top: 120px;
    margin-bottom: 150px;
}

.nonabox-home-contato .wrapper{
    max-width: 500px;
}

.nonabox-home-contato-title{
    color: var(--green);
    font-family: 'Proxima Nova Bold', 'Calibri', Arial, sans-serif;
    font-size: 38px;
    letter-spacing: 1px;
    line-height: 45px;
    margin-bottom: 50px;
    text-align: center;
}

.nonabox-home-contato-box{
    background-color: #ffffff;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.56);
    box-sizing: border-box;
    padding: 50px 40px;
    width: 100%;
}

.nonabox-home-contato-box-title{
    color: var(--green);
    font-family: 'Proxima Nova Regular', 'Calibri', Arial, sans-serif;
    font-size: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 70px;
    text-align: center;
}


.nonabox-home-contato-box-text {
    margin: 50px 0;
    width: 100%;
}

.nonabox-home-contato-box-textarea{
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    margin: 40px 0;
    max-width: 100%;
    min-height: 150px;
    min-width: 100%;
    width: 100%;
}

.nonabox-home-contato-box-textarea:hover {
    border-color: rgba(0, 0, 0, 0.3);
}

.nonabox-home-contato-box-textarea:focus {
    border-color: var(--green);
}
