<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>nona box</title>

    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
  <div class="scroll">
    <nav class="nav">
      <div class="nav-wrapper">
        <div class="nav-brand">
          <h1><a href="/"><img src="images/brand/logo-branco.svg" alt="nonabox - logo" class="nav-brand-image"></a></h1>  
        </div>
        <div class="nav-items">
          <ul class="nav-list">
            <li class="nav-list-item"><a href="/cadastrar" class="nav-list-item-link">Cadastre-se</a></li>
            <li class="nav-list-item active"><a href="/login" class="nav-list-item-link">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="nonabox-home">
      <header class="nonabox-home-header">
        <div class="wrapper">
          <div class="nonabox-home-header-content">
            <h2 class="nonabox-home-header-title">
              Cuidando de quem
              <br class="br-desktop" />
              você mais ama!
            </h2>
            <p class="nonabox-home-header-text">
              A caixa de remédios que te dá
              <br class="br-desktop" />
              mais autonomia para você e sua
              <br class="br-desktop" />
              família controlarem medicação.
            </p>
          </div>
        </div>
      </header>

      <section class="nonabox-home-intro">
        <div class="wrapper">
          <div class="nonabox-home-intro-row">
            <div class="nonabox-home-intro-column">
              <h2 class="nonabox-home-intro-title">
                Controle todos os
                <br class="br-desktop" />
                horários em tempo real
              </h2>
              <p class="nonabox-home-intro-text">
                Gerencie os horários dos remédios pelo
                aplicativo e receba notificações quando
                seu familiar tomar o medicamento. Evite
                que ele se automedique ou esqueça de
                tomar os remédios nos horários certos.
              </p>
              <div class="nonabox-home-intro-button-content">
                <a href="#contato" class="nonabox-home-intro-button">Entre em contato</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="nonabox-home-produtos">
        <div class="wrapper">
          <div class="nonabox-home-produtos-row">
            <div class="nonabox-home-produtos-column">
              <div class="nonabox-home-produtos-box">
                <img src="images/home/intro-produtos-remédios.png" class="nonabox-home-produtos-img">
                <h3 class="nonabox-home-produtos-title">Caixa de remédios automatizada</h3>
                <p class="nonabox-home-produtos-text">
                  Avisa nos horários de tomar as medicações e libera somente as que devem ser tomadas para que não haja confusão de remédios nem automedicação.
                </p>
              </div>
            </div>
            <div class="nonabox-home-produtos-column">
              <div class="nonabox-home-produtos-box">
                <img src="images/home/intro-produtos-app.png" class="nonabox-home-produtos-img">
                <h3 class="nonabox-home-produtos-title">Gestão de alertas pelo celular</h3>
                <p class="nonabox-home-produtos-text">
                  Utilizado para controle da caixa e para avisar se o remédio foi tomado ou não pelo idoso. Avisa quando os remédios estão acabando para comprar mais.
                </p>
              </div>
            </div>
            <div class="nonabox-home-produtos-column">
              <div class="nonabox-home-produtos-box">
                <img src="images/home/intro-produtos-descontos.png" class="nonabox-home-produtos-img">
                <h3 class="nonabox-home-produtos-title">Descontos nos principais remédios</h3>
                <p class="nonabox-home-produtos-text">
                  Convênio com as principais farmácias para ter descontos ou ser avisado de promoções e comprar os remédios nos melhores preços com um só clique.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="nonabox-home-aplicativo">
        <img src="images/home/Aplicativo.png" class="nonabox-home-aplicativo-img">
      </section>

      <section class="nonabox-home-contato" id="contato">
        <div class="wrapper">
          <div class="nonabox-home-contato-box">
        <div class="nonabox-home-contato-box-title">
          <h2 class="nonabox-home-contato-title">
            Gostou da ideia? <br>
          </h2>
          <p class="nonabox-home-contato-description">
            Receba novidades por email:
          </p>
        </div>

            <form action="/salvar" method="post" class="nonabox-home-contato-form">
              <input type="text" name="nome" class="nonabox-home-contato-box-text form-textbox" placeholder="Nome">
              <input type="email" name="email" class="nonabox-home-contato-box-text form-textbox" placeholder="Email">
              <input type="submit" class="form-button">
            </form>
          </div>
        </div>
      </section>
    </div>



    <footer class="footer">
      <div class="wrapper">
        <p class="footer-text"><span class="text-bold">nona box</span> - Todos os direitos reservados</p>
      </div>
    </footer>
  </div>

  <script src="scripts/menu.js"></script>
</body>
</html>	